.login-form,
.signup-form {
	display: flex;
	flex-direction: column;
	width: 450px;
	height: 450px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.05);
	padding-left: 20px;
	padding-right: 20px;
}

/* chat dashboard */
.mini-icon {
	color: #a5bfcc;
	transition: background-color 0.1s;
}
.mini-icon:hover {
	background-color: #78b3ce;
	color: white;
	cursor: pointer;
}

.receiver-icon {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #6a80b9;
	color: white;
	align-content: center;
	padding-left: 7px;
}
.render-message-content {
	width: max-content;
	padding: 10px;
	border-radius: 15px;
	background-color: C4D9FF;
	color: #155e95;
	font-weight: 700;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	margin-left: 15px;
}

.receiver-message-container {
	display: flex;
	align-items: center;
	margin-left: 10px;
}
.sender-message-container {
	display: flex;
	align-items: center;
	justify-content: end;
	margin-right: 10px;
}

.user-container-hover:hover {
	background-color: rgb(245, 245, 245);
}
